module.exports = {
  server: {
    websocket: {
      enable: true,
      port: 8080
    }
  },
  stations: [
    {
      id: 'provodach',
      name: 'Provoda.ch',
      playlist: 'https://provoda.ch/listen.m3u',
    },
    {
      id: 'sovietwave',
      name: 'Советская волна',
      playlist: 'https://sovietwave.su/listen.m3u'
    },
    {
      id: 'tumbach',
      name: 'Tumbach;Radio',
      playlist: 'https://radio.tumbach.one/static/playlist.m3u',
      historyLength: 50,
      historyTtl: 0
    },
    {
      id: 'nyan',
      name: 'J-Trance channel on WaveRadio',
      playlist: [
        'https://station.waveradio.org/nyan',
        'https://station.waveradio.org/nyan.mp3'
      ]
    },
    {
      id: 'witch',
      name: 'Witch House on WaveRadio',
      playlist: [
        'https://station.waveradio.org/witch'
      ]
    },
    {
      id: 'plazaone',
      name: 'Nightwave Plaza',
      playlist: 'https://plaza.one/plaza.m3u'
    },
    {
      id: 'lainon',
      name: 'lainon.life (cyberia)',
      playlist: 'https://lainon.life/radio/cyberia.mp3.m3u'
    },
    /*{
      id: 'anonfm',
      name: 'Radio Anonymous',
      playlist: [
        'https://anon.fm/streams/radio.aac'
      ]
    },*/
    {
      id: "anonfmbeta",
      name: "Radio Anonymous (beta)",
      playlist: [
        'http://beta.anon.fm:8000/music.mp3'
      ]
    }
  ],
  historyLength: 20,
  historyTtl: 3600
};
