module.exports = {
  server: {
    websocket: {
      enable: true,
      port: 8080
    }
  },
  stations: [
    {
      src: 'https://radio.tumba.ch/stream-low',
      id: 'tumbach',
      lazy: false
    },
    {
      src: 'https://station.waveradio.org/provodach-low.mp3',
      id: 'provodach',
      lazy: true
    },
    {
      src: 'https://station.waveradio.org/nyan.mp3',
      id: 'nyanserver',
      lazy: true
    }
  ]
};
