module.exports = {
  server: {
    websocket: true
  },
  stations: [
    {
      protocol: 'https',
      host: 'radio.tumba.ch',
      path: '/stream-low',
      id: 'tumbach',
      lazy: false
    },
    {
      protocol: 'https',
      host: 'station.waveradio.org',
      path: '/provodach-low.mp3',
      id: 'provodach',
      lazy: true
    },
    {
      protocol: 'https',
      host: 'station.waveradio.org',
      path: '/nyan.mp3',
      id: 'nyanserver',
      lazy: true
    }
  ]
};
